name: Wudutale Build CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  export:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Godot CI (Mono)
        uses: abarichello/godot-ci@3.6.2-stable
        with:
          godot-version: 4.5.1
          mono: true
          export-templates: true

      - name: Upload builds
        uses: actions/upload-artifact@v4
        with:
          name: godot-builds
          path: build/
